<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoes.scarecrow.persistence.mappers.UserMapper">
  <resultMap id="BaseResultMap" type="com.shoes.scarecrow.persistence.domain.User">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="is_payment" jdbcType="INTEGER" property="isPayment" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="stock_id" jdbcType="INTEGER" property="stockId" />
    <result column="taobao_name" jdbcType="VARCHAR" property="taobaoName" />
    <result column="image_address" jdbcType="VARCHAR" property="imageAddress" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="confirm_password" jdbcType="VARCHAR" property="confirmPassword" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="yn" jdbcType="TINYINT" property="yn" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.shoes.scarecrow.persistence.domain.User">
    insert into user (id, user_name, nick_name, 
      birthday, is_payment, sex, 
      user_type, phone_no, address, 
      stock_id, taobao_name, image_address, 
      password, confirm_password, create_time, 
      update_time, create_user, update_user, 
      remark, yn, status)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{isPayment,jdbcType=INTEGER}, #{sex,jdbcType=TINYINT}, 
      #{userType,jdbcType=INTEGER}, #{phoneNo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{stockId,jdbcType=INTEGER}, #{taobaoName,jdbcType=VARCHAR}, #{imageAddress,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{confirmPassword,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{yn,jdbcType=TINYINT}, #{status,jdbcType=INTEGER})
  </insert>
  <select id="getUserByNameAndPassword" resultMap="BaseResultMap">
    select * from user where user_name=#{userName} and password=#{passWord}
  </select>
  <insert id="insertSelective" parameterType="com.shoes.scarecrow.persistence.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="isPayment != null">
        is_payment,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="taobaoName != null">
        taobao_name,
      </if>
      <if test="imageAddress != null">
        image_address,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="confirmPassword != null">
        confirm_password,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="yn != null">
        yn,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="isPayment != null">
        #{isPayment,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="taobaoName != null">
        #{taobaoName,jdbcType=VARCHAR},
      </if>
      <if test="imageAddress != null">
        #{imageAddress,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="confirmPassword != null">
        #{confirmPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>