<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoes.scarecrow.persistence.mappers.StockMapper">
  <resultMap id="BaseResultMap" type="com.shoes.scarecrow.persistence.domain.Stock">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_extend_id" jdbcType="INTEGER" property="goodsExtendId" />
    <result column="into_price" jdbcType="DOUBLE" property="intoPrice" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="storage_time" jdbcType="TIMESTAMP" property="storageTime" />
    <result column="share_flag" jdbcType="INTEGER" property="shareFlag" />
    <result column="store_address" jdbcType="VARCHAR" property="storeAddress" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
  <insert id="insert" parameterType="com.shoes.scarecrow.persistence.domain.Stock">
    insert into stock (id, user_id, batch_no, 
      goods_id, goods_extend_id, into_price, 
      qty, storage_time, share_flag, 
      store_address, remark, create_time, 
      create_user, update_time, update_user, 
      status, yn)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsExtendId,jdbcType=INTEGER}, #{intoPrice,jdbcType=DOUBLE}, 
      #{qty,jdbcType=INTEGER}, #{storageTime,jdbcType=TIMESTAMP}, #{shareFlag,jdbcType=INTEGER}, 
      #{storeAddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{yn,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shoes.scarecrow.persistence.domain.Stock">
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsExtendId != null">
        goods_extend_id,
      </if>
      <if test="intoPrice != null">
        into_price,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="storageTime != null">
        storage_time,
      </if>
      <if test="shareFlag != null">
        share_flag,
      </if>
      <if test="storeAddress != null">
        store_address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="yn != null">
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsExtendId != null">
        #{goodsExtendId,jdbcType=INTEGER},
      </if>
      <if test="intoPrice != null">
        #{intoPrice,jdbcType=DOUBLE},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="storageTime != null">
        #{storageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shareFlag != null">
        #{shareFlag,jdbcType=INTEGER},
      </if>
      <if test="storeAddress != null">
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>