<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <description>Spring公共配置</description>
    <context:component-scan base-package="com.shoes.scarecrow.persistence.*"/>

    <!-- 定义受环境影响易变的变量 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="utf-8"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>


    <!-- 数据源配置,使用应用内的DBCP数据库连接池 -->
    <bean id="shoesMasterDS" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${shoes.master.jdbc.driver}"/>
        <property name="url" value="${shoes.master.jdbc.url}"/>
        <property name="username" value="${shoes.master.jdbc.username}"/>
        <property name="password" value="${shoes.master.jdbc.password}"/>
        <property name="maxIdle" value="${dbcp.maxIdle}"/>
        <property name="maxTotal" value="${dbcp.maxActive}"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="3600000"/>
        <property name="minEvictableIdleTimeMillis" value="3600000"/>
        <property name="connectionProperties" value="${shoes.master.jdbc.connectionProperties}"/>
    </bean>
    <bean id="jaguarMasterJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier" value="jdbcTemplate"/>
        <constructor-arg index="0" ref="shoesMasterDS"/>
    </bean>

    <bean id="sqlSessionFactoryBeanName" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="shoesMasterDS"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:/mappers/*.xml</value>
            </list>
        </property>
    </bean>
    <!--MapperScanner-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"
                  value="com.shoes.scarecrow.persistence.mappers"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBeanName"/>
    </bean>

    <!--<bean id="transactionManager"-->
          <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="shoesMasterDS" />-->
    <!--</bean>-->
    <!--&lt;!&ndash; 使用annotation定义事务 &ndash;&gt;-->
    <!--<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />-->

</beans>